@font-face {
    font-family:  'Segoe UI';
    src: url('../font/Segoe\ UI.ttf');
    font-weight: 400;
}
 
@font-face {
    font-family:  'Segoe UI ';
    src: url('../font/Segoe-UI\ Bold-Italic.ttf');
    font-weight: 600;
}
@font-face {
    font-family:  'Segoe UI';
    src: url('../font/Segoe-UI-Bold.ttf');
    font-weight: 700;
}
